@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Search input clear icon */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Remove buttons on number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* react-date-picker styles */

.react-datepicker__header--custom {
  background-color: inherit;
  border-bottom: none;
}
.react-datepicker__header {
  padding: 8px 0 0px;
  position: relative;
  text-align: center;
}
.react-datepicker__day {
  cursor: default;
}
.react-datepicker__week,
.react-datepicker__day-names {
  display: flex;
}
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
  display: inline-block;
  line-height: 1.7rem;
  margin: 0.166rem;
  text-align: center;
}
.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__aria-live {
  order: 0;
  -webkit-clip-path: circle(0);
  clip-path: circle(0);
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0px;
}
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 10px;
}
.no-calendar::-webkit-calendar-picker-indicator {
  display: none;
}
